@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,500&family=Tenor+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background: linear-gradient(304.58deg, #F4ECE1 57.1%, #FCFBF7 145.5%);
}
section{
    min-height: 100vh;
}
#pagina2-2{
    width: 1440px;
}
#pagina1{
    height: 732.96px;
    background: linear-gradient(304.58deg, #F4ECE1 57.1%, #FCFBF7 145.5%);
}
.logo img{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 42px;
    top: 42px;    
}
.logo2 h1{
    position: absolute;
    width: 159px;
    height: 34px;
    left: 60px;
    top: 37px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 139.8%;
    color: #000000;    
}
.home {
    position: absolute;
    width: 60px;
    height: 19px;
    left: 383px;
    top: 54px;
}
.home a{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 94.8%;
    color: #000000;
}
.home a:hover{
    color: #FF7E00;
    font-size: 25px;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0px 4.71429px 4.71429px rgba(0, 0, 0, 0.25);
}
.menu {
    position: absolute;
    width: 56px;
    height: 19px;
    left: 483.93px;
    top: 54px;    
}
.menu a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 94.8%;
    text-decoration: none;
    color: #000000;    
}
.menu a:hover{
    color: #FF7E00;
    font-size: 25px;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0px 4.71429px 4.71429px rgba(0, 0, 0, 0.25);
}
.contact{
    position: absolute;
    width: 82px;
    height: 19px;
    left: 580.72px;
    top: 54px;    
}
.contact a{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 94.8%;
color: #000000;
text-decoration: none;
}
.contact a:hover{
    color: #FF7E00;
    font-size: 25px;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0px 4.71429px 4.71429px rgba(0, 0, 0, 0.25);
}
.shop{
    position: absolute;
    width: 52px;
    height: 19px;
    left: 699.84px;
    top: 54px;
}
.shop a{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 94.8%;
    color: #000000;
}
.shop a:hover{
    color: #FF7E00;
    font-size: 25px;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0px 4.71429px 4.71429px rgba(0, 0, 0, 0.25);    
}
.search{
    position: absolute;
    width: 259.76px;
    height: 49.64px;
    left: 867px;
    top: 39px;
    background: rgba(255, 249, 240, 0.1);
    box-shadow: 0px 9.9272px 33.0907px -13.2363px rgba(0, 0, 0, 0.1);
    border-radius: 24.818px; 
}
.search img {
    position: absolute;
    width: 14.89px;
    height: 14.89px;
    left: 32.92px;
    top: 17.7px;
    
}
.search h1{
    position: absolute;
    width: 64px;
    height: 17px;
    left: 56.56px;
    top: 16.55px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18.1999px;
    line-height: 94.8%;
    color: #000000; 
}
.search .linha {
    position: absolute;
    width: 37.23px;
    height: 0px;
    left: 182.2px;
    top: 24.62px;
    border: 0.827267px solid rgba(148, 140, 140, 0.31);
    transform: rotate(90deg);
}
.cart img{
    position: absolute;
    left: 214.95px;
    top: 18.75;
}
.dois {
    position: absolute;
    width: 14.06px;
    height: 14.06px;
    left: 230.81px;
    top: 4.96px;
    background: #EC2633;
    border-radius: 100%;
    box-shadow: 0px 1.65453px 19.0271px 0.827267px rgba(255, 51, 52, 0.72);
}
.dois h1{
    position: absolute;
    width: 5px;
    height: 8px;
    left: 4.96px;
    top: 3.31px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 8.27267px;
    line-height: 94.8%;
    color: #FFFFFF;    
}
.login{
    position: absolute;
    width: 125px;
    height: 45px;
    left: 1156px;
    top: 41px;
    border: 1px solid #2F2F2F;
    box-sizing: border-box;
    filter: drop-shadow(0px 4.71429px 4.71429px rgba(0, 0, 0, 0.25));
    border-radius: 23.5714px;
}
.login a{
    position: absolute;
    width: 125px;
    height: 45px;
    left: 45px;
    top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11.7857px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #2F2F2F;    
}
.login a:hover{
    color: #FF7E00;
}
.signup{
    position: absolute;
    width: 125px;
    height: 45px;
    left: 1289px;
    top: 41px;
    background: #2F2F2F;
    box-shadow: 0px 4.71429px 4.71429px rgba(0, 0, 0, 0.25);
    border-radius: 23.5714px;
}
.signup a{
    position: absolute;
    top:14px;
    left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11.7857px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;    
}
.signup a:hover{
    color: #FF7E00;
}
.avi img{
    position: absolute;
    left: 408.29px;
    top: 99.27px;
}
.fast img{
    position: absolute;
    width: 620.45px;
    height: 589.01px;
    left: 752px;
    top: 144px;
}
.fast2 img{
    position: absolute;
    width: 73.56px;
    height: 66.75px;
    left: 61px;
    top: 149.14px;
    transform: rotate(-21.65deg);
}
.fast2 img:hover{
    width: 100px;
    height: 100px;
    background: #e8e52b;
    border-radius: 50px;
    box-shadow: 0px 16.5453px 26.4725px -6.61813px rgba(0, 0, 0, 0.2);
}
.fast h1{
    position: absolute;
    width: 216px;
    height: 98px;
    left: 61px;
    top: 199px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 103.408px;
    line-height: 94.8%;
    letter-spacing: -0.035em;
    color: #FF7E00;    
}
.fast h2{
    position: absolute;
    width: 183px;
    height: 82px;
    left: 291.81px;
    top: 207.27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 43.0179px;
    line-height: 94.8%;
    color: #2F2F2F;
}
.fast h3{
    position: absolute;
    width: 469.89px;
    height: 50px;
    left: 65.96px;
    top: 317.3px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18.1999px;
    line-height: 138.8%;
    color: #909090;
}
.Order{
    position: absolute;
    width: 155.53px;
    height: 57.91px;
    left: 65.96px;
    top: 404.99px; 
    background: #2F2F2F;
    box-shadow: 0px 16.5453px 26.4725px -6.61813px rgba(0, 0, 0, 0.2);
    border-radius: 69.4904px;
}
.Order a{
    position: absolute;
    width: 89px;
    height: 16px;
    left: 33.09px;
    top: 20.68px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16.5453px;
    line-height: 94.8%;
    color: #F4ECE1;
    text-align: center;
    text-decoration: none;
}
.Order a:hover{
    color: #FF7E00;
}
.process{
    position: absolute;
    width: 47.15px;
    height: 47.15px;
    left: 244.65px;
    top: 409.13px;
    border-radius: 100%;
    background: #FFF8F0;
    box-shadow: 0px 16.5453px 29.7816px -13.2363px rgba(0, 0, 0, 0.1);
}
.process img{
    position: absolute;
    width: 17.37px;
    height: 17.37px;
    left: 15.72px;
    top: 14.89px;
    background: #FFF8F0;
    box-shadow: 0px 16.5453px 29.7816px -13.2363px rgba(0, 0, 0, 0.1);
}
.process2 h1{
    position: absolute;
    width: 124px;
    height: 21px;
    left: 298px;
    top: 420px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 132.3%;
    letter-spacing: 0.045em;
    color: #000000;    
}
.estrela{
    position: absolute;
    left:66.72px;
    top: 503.09px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.1px;
}
.rating{
    position: absolute;
    width: 206.82px;
    height: 45px;
    left: 70.14px;
    top: 534.26px;
}
.rating h1{
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14.8908px;
    line-height: 139.8%;
    color: #2F2F2F;    
}
.rating h2{
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14.8908px;
    line-height: 139.8%;
    color: #909090;   
}
#pagina2{
    height: 732.96px;
    background: white;
}
.retangulo2 h1{
    position: absolute;
    width: 308.95px;
    height: 36.75px;
    left: 4.08px;
    top: 210px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 21.7762px;
    line-height: 33px;
    letter-spacing: -0.01em;
    color: #44455B;
    z-index: 1;    
}
.retangulo2{
    position: relative;
    width: 1231.63px;
    height: 415.3px;
    left: 67px;
    top: 34.04px;
}
.retangulo2 h2{
    position: absolute;
    width: 386px;
    height: 108px;
    left: 0px;
    top: 259px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16.3321px;
    line-height: 163.6%;
    letter-spacing: -0.005em;
    color: #44455B;    
    z-index: 1;
}
.retangulo2 h3{
    position: absolute;
    width: 710px;
    height: 144px;
    left: 375px;
    top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 54.4404px;
    line-height: 82px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #44455B;    
}
.food{
    position: absolute;
    width: 205.79px;
    height: 214.3px;
    left: 400px;
    top: 197px;
    background: #F5EDE1;
    border-radius: 15.6116px;
    box-shadow: 25px 4.71429px 4.71429px rgba(0, 0, 0, 0.25);
}
.food img{
    position: absolute;
    width: 52.51px;
    height: 49.67px;
    left: 76.64px;
    top: 24.13px;
}
.food h1{
    position: absolute;
    width: 173.15px;
    height: 38.32px;
    left: 34.06px;
    top: 90.83px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 18.4501px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #44455B;    
}
.food p{
    position: absolute;
    width: 201px;
    height: 57px;
    left: 0px;
    top: 125px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14.1924px;
    line-height: 132.3%;
    text-align: center;
    letter-spacing: -0.005em;
    color: #44455B;
}
.pickup{
        position: absolute;
        width: 205.79px;
        height: 214.3px;
        left: 712px;
        top: 197px;
        background: #F5EDE1;
        border-radius: 15.6116px;
        box-shadow: 25px 4.71429px 4.71429px rgba(0, 0, 0, 0.25);
}
.pickup img{
    position: absolute;
    width: 53.93px;
    height: 59.15px;
    left: 73.8px;
    top: 18.45px;
}
.pickup h1{
    position: absolute;
    width: 173.15px;
    height: 38.32px;
    left: 26.97px;
    top: 90.83px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 18.4501px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #44455B;    
}
.pickup p{
    position: absolute;
    width: 187px;
    height: 57px;
    left: 10px;
    top: 125px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14.1924px;
    line-height: 132.3%;
    text-align: center;
    letter-spacing: -0.005em;
    color: #44455B;    
}
.meal{
    position: absolute;
    width: 205.79px;
    height: 214.3px;
    left: 1023px;
    top: 197px;
    background: #F5EDE1;
    border-radius: 15.6116px;
    box-shadow: 25px 4.71429px 4.71429px rgba(0, 0, 0, 0.25);
}
.meal img{
    position: absolute;
    width: 55.35px;
    height: 53.93px;
    left: 75.22px;
    top: 25.55px;    
}
.meal h1{
    position: absolute;
    width: 173.15px;
    height: 38.32px;
    left: 35.48px;
    top: 85.15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 18.4501px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #44455B;    
}
.meal p{
    position: absolute;
    width: 183px;
    height: 57px;
    left: 13px;
    top: 116px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14.1924px;
    line-height: 132.3%;
    text-align: center;
    letter-spacing: -0.005em;
    color: #44455B;
}
.selling{
    position: relative;
    width: 1474px;
    height: 919px;
    left: -54px;
    top: -5px;
}
.selling h1{
    position: relative;
    width: 223px;
    height: 32px;
    left: 794px;
    top: 87px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    text-align: center;
    color: #F4C276;
}
.selling h2{
    position: relative;
    width: 484px;
    height: 64px;
    left: 672px;
    top: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    color: #44455B;    
}
.caixa1{
    position: absolute;
    display: flex;
    width: 270px;
    height: 416px;
    left: 285px;
    top: 264px;
    background: #FFFFFF;
    box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
    border-radius: 100px 24px 24px 24px;
}
.caixa1 img{
    position: absolute;
    width: 270px;
    height: 320px;
    left: -32px;
    top: -32px;    
}

.caixa1 h1{
    position: absolute;
    width: 161px;
    height: 32px;
    left: 77px;
    top: 323px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    color: #333333;    
}
.star{
    left: 0px;
    top: 0px;
    padding: 3px;
}
.star img{
    position: relative;
    width: 18px;
    height: 17px;   
    left: 124px;
    top: 355px;
}
.num{
    position: absolute;
    width: 58px;
    height: 58px;
    left: 29px;
    top: 376px;   
    background: #44455B;
    border-radius: 100%;
    box-shadow: 0px 16px 24px rgba(0, 24, 52, 0.08);
}
.num h1{
    position: relative;
    height: 32px;
    left: -48px;
    top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
.num span {
    position: relative;
    height: 32px;
    left: 0px;
    top: -5.5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;    
}
.caixa2{
    position: absolute;
    width: 270px;
    height: 320px;
    left: 585px;
    top: 312px;
    background: #FFFFFF;
    box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
    border-radius: 50px 24px 24px 24px;
}
.caixa2 img{
    position: absolute;
    width: 254px;
    height: 224px;
    left: -16px;
    top: -32px;    
}
.caixa2 h1{
    position: absolute;
    width: 161px;
    height: 32px;
    left: 77px;
    top: 217px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    color: #333333; 
}
.star2{
    left: 0px;
    top: 0px;
    padding: 3px;
}
.star2 img{
    position: relative;
    width: 18px;
    height: 17px;   
    left: 124px;
    top: 259px;
}
.num2{
    position: absolute;
    width: 58px;
    height: 58px;
    left: 29px;
    top: 275px;   
    background: #44455B;
    border-radius: 100%;
    box-shadow: 0px 16px 24px rgba(0, 24, 52, 0.08);
}
.num2 h1{
    position: relative;
    height: 32px;
    left: -48px;
    top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
.num2 span {
    position: relative;
    height: 32px;
    left: 0px;
    top: -5.5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;    
}
.caixa3{
    position: absolute;
    width: 270px;
    height: 320px;
    left: 885px;
    top: 312px;
    background: #FFFFFF;
    box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
    border-radius: 50px 24px 24px 24px;
}
.caixa3 img{
    position: absolute;
    width: 254px;
    height: 224px;
    left: -16px;
    top: -32px;    
}
.caixa3 h1{
    position: absolute;
    width: 161px;
    height: 32px;
    left: 77px;
    top: 217px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    color: #333333; 
}
.star3{
    left: 0px;
    top: 0px;
    padding: 3px;
}
.star3 img{
    position: relative;
    width: 18px;
    height: 17px;   
    left: 124px;
    top: 259px;
}
.num3{
    position: absolute;
    width: 58px;
    height: 58px;
    left: 29px;
    top: 280px;   
    background: #44455B;
    border-radius: 100%;
    box-shadow: 0px 16px 24px rgba(0, 24, 52, 0.08);
}
.num3 h1{
    position: relative;
    height: 32px;
    left: -48px;
    top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
.num3 span {
    position: relative;
    height: 32px;
    left: 0px;
    top: -5.5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;    
}

.caixa4{
    position: absolute;
    width: 270px;
    height: 320px;
    left: 1171px;
    top: 312px;
    background: #FFFFFF;
    box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
    border-radius: 50px 24px 24px 24px;
}
.caixa4 img{
    position: absolute;
    width: 254px;
    height: 224px;
    left: -16px;
    top: -32px;    
}
.caixa4 h1{
    position: absolute;
    width: 161px;
    height: 32px;
    left: 77px;
    top: 217px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    color: #333333; 
}
.star4{
    left: 0px;
    top: 0px;
    padding: 3px;
}
.star4 img{
    position: relative;
    width: 18px;
    height: 17px;   
    left: 124px;
    top: 259px;
}
.num4{
    position: absolute;
    width: 58px;
    height: 58px;
    left: 29px;
    top: 280px;   
    background: #44455B;
    border-radius: 100%;
    box-shadow: 0px 16px 24px rgba(0, 24, 52, 0.08);
}
.num4 h1{
    position: relative;
    height: 32px;
    left: -48px;
    top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
.num4 span {
    position: relative;
    height: 32px;
    left: 0px;
    top: -5.5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;    
}
.now{
    position: relative;
    width: 194.79px;
    height: 55px;
    top: 582px;
    left: 751px;
    background: #44455B;
    border-radius: 13.75px;
}
.now a{
    position: absolute;
    left: 38.96px;
    top: 13.75px;
    height: 27px;
    width: 118px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22.9167px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF; 
    text-decoration: none;   
}
.now a:hover{
    color: #FF7E00;
}
.circulo{
    position: absolute;
    width: 891px;
    height: 891px;
    left: -410px;
    top: -53px;
    border-radius: 100%;
    background: linear-gradient(135deg, #FCEEE9 0%, #ECF8F8 100%);
}
.caixa{
    position: absolute;
    width: 300px;
    height: 57px;
    left: 0px;
    top: -60px;
    background: white;
}
#pagina2-1{
    height: 850px;
}
.got{
    position: absolute;
    width: 1163.71px;
    height: 275.55px;
    left: 111px;
    top: 2021.59px;
    background: #F5EDE1;
    box-shadow: 0px 5.72549px 5.72549px rgba(0, 0, 0, 0.25);
    border-radius: 50.098px;
}
.offer{
    position: absolute;
    width: 511px;
    height: 133.12px;
    left:34px;
    top: 120.65px;    
}
.offer h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 34.3529px;
    line-height: 52px;
    letter-spacing: -0.01em;
    color: #44455B;
}
.offer h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 65.87px;
    letter-spacing: -0.01em;
    color: #44455B;
}
.img1{
    position: absolute;
    top: 2.93px;
    left: 20.04px;
}
.img2{
    position: absolute;
    left: 906.06px;
    top: -17.59px;
}
.img3{
    position: absolute;
    left: 901.76px;
    top: 38.11px;
}
.img4{
    position: absolute;
    top: 33.94px;
    left: 671.78px;
}
.img5{
    position: absolute;
    top:140.94px;
    left: 571.58px;
}
.img6{
    position:absolute;
    top: 7.45px;
    left: 249.49px;
    transform: matrix(0.9, -0.45, 0.43, 0.9, 0, 0);
}
.img7{
    position: absolute;
    top: 29.31px;
    left: 505.27px;
}
.img8{
    position: absolute;
    top: 93.8px;
    left: 818.75px;
}
.img9{
    position: absolute;
    top: 87.94px;
    left: 705.67px;
}
.img10{
    position: absolute;
    top:7.33px;
    left: 754.33px;
}
.trend{
    position: absolute;
    width: 1309px;
    height: 592px;
    left: -100px;
    top: 463.31px;
    background: linear-gradient(180deg, #FFF0EC 0%, #FFDDD4 100%);
    border-radius: 0px 100px 24px 0px;
}
.trend img{
    position: absolute;
    width: 770px;
    height: 592px;
    left: 139px;
    top: -80px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.trend h1{
    position: absolute;
    top: 23px;
    left: 1036px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26.5938px;
    line-height: 37px;
    height: 37px;
    width: 152px;
    text-align: right;
    color: #FF8E0A;       
}
.trend h2{
    position: absolute;
    width: 335px;
    height: 32px;
    left: 944px;
    top: 91px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 32px;
    text-align: right;
    color: #333333;
}
.trend p{
    position: absolute;
    width: 376px;
    height: 101px;
    left: 933px;
    top: 245px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.5);
}
.trend2 h1{
    position: absolute;
    height: 32px;
    top: 457px;
    right: 162px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 32px;
    text-align: center;
    color: #333333;    
}
.c1{
    position: absolute;
    right: 223px;
    top: 448px;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(93, 196, 184, 0.500198);
    box-sizing: border-box;
    border-radius: 24px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.c1 img{
    position: absolute;
    width: 12px;
    height: 16px;
    top: 16px;
    left: 17px;
}
.c2{
    position: absolute;
    top: 448px;
    right: 123px;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(93, 196, 184, 0.500198);
    box-sizing: border-box;
    border-radius: 24px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.c2 img{
    position: absolute;
    width: 12px;
    height: 16px;
    top: 16px;
    left: 17px;
}
.circulo2{
    position: relative;
    width: 891px;
    height: 891px;
    left: 1120px;
    top: 126px;
    border-radius: 100%;
    background: linear-gradient(135deg, #FCEEE9 0%, #ECF8F8 100%);
}
footer{
    min-height: 502px;
    height: 502px;
}
.lg{
    position: absolute;
    width: 728.52px;
    height: 29px;
    left: 320px;
    top: 3550px;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15.0877px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #44455B;    
}
.lg{
    position: absolute;
    width: 728.52px;
    height: 29px;
    left: 320px;
    top: 473px;
}
.lg h1{
    left: 320px;
    top: 3150px;
    position: absolute;
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15.0877px;
    line-height: 28px; 
    text-align: center;
    letter-spacing: -0.02em;
    color: #44455B;
}